*,
*::before,
*::after {
  /* border: 1px dotted red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(152, 59, 38);
  --lighter-color: rgba(255, 248, 200, 0.411);
  --btn-color: rgb(65, 1, 1);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 2.3rem;
  color: black;
  text-transform: uppercase;
  align-self: center;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 0.8rem;
}

p {
  font-size: 0.8rem;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.container .sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  background: url("img/library.jpg");
  background-size: 160%;
}

.container .sidebar .credit {
  color: white;
  margin-top: auto;
}

.credit a {
  color: white;
}

.container .display-books {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .add-book {
  grid-column: 4;
}

button {
  border: none;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.display-books .add-book-btn {
  padding: 10px 20px;
  align-self: center;
}

.display-books .toggle-read-btn {
  background-color: var(--lighter-color);
}

.book-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.book-cards .book-card {
  background-color: var(--lighter-color);
  padding: 10px;
}

#add-book-form {
  display: grid;
  gap: 20px;
}

#add-book-form .form-row {
  display: grid;
}

form button {
  padding: 10px;
}

input {
  border: none;
  padding: 0.2rem 0;
  background-color: var(--lighter-color);
}

#add-book-btn.hidden,
#add-book-form.hidden {
  display: none;
}
