*,
*::before,
*::after {
  /* border: 1px dotted red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.container .sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(121, 35, 35);
  background: url("img/library.jpg");
  background-size: 160%;
}

.container .sidebar .credit {
  color: white;
  margin-top: auto;
}

.credit a {
  color: white;
}

.container .display-books {
  grid-column: 2 / 3;
}

.container .add-book {
  grid-column: 4;
}

.container .new-book-btn {
  padding: 15px 30px;
}

#add-book-form {
  display: grid;
  gap: 20px;
}

#add-book-form .form-row {
  display: grid;
}

form button {
  padding: 10px;
}

#add-book-btn.hidden,
#add-book-form.hidden {
  display: none;
}
